.page-footer {
  background: #9C69E2;
}

.page-footer__wrapper {
  padding: 58px 20px;
}

.page-footer__link {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 75px;
}

.page-footer__logo {
  padding: 0 4px;
}

.page-footer__url {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
}

.form {
  display: grid;
  padding: 0;
  box-sizing: border-box;
}

.form__email::placeholder {
  color: #A9A0B6;
  letter-spacing: -0.5px;
}

.form__email {
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-top: 35px;
  margin-bottom: 20px;
}

.form__button {
  display: inline;
  background: #EEAA12;
  margin: 2px auto;
  width: 147px;
  font-size: 16px;
  padding: 10px 0;
}

.form__button:hover {
  background: #FFBE2D;
}

.page-footer__url:hover {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .page-footer__link {
    max-width: 240px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 6px 0px;
  }

  .page-footer__wrapper {
    display: grid;
    padding: 52px 20px;
    grid-template-columns: 1fr auto;
    grid-gap: 50px;
  }

  .form {
    max-width: 452px;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .form__email {
    max-width: 247px;
    margin: 0 0 0 5px;
  }

  .form__button {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .page-footer__wrapper {
    padding: 53px 30px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 20px 0;
  }

  .page-footer__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .page-footer__link {
    max-width: 630px;
    width: 100%;
    padding: 7px;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }

  .form {
    max-width: 644px;
    grid-template-columns: 3fr 1fr;
  }

  .form__email {
    max-width: 420px;
    margin: 0 0 0 35px;
    width: 87%;
  }

  .page-footer__list {
    max-width: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}